:root{
    /* HTML */
    --cms-html-font-family : "Comic Sans MS", cursive, sans-serif;
    /* body */
    --cms-body-background-color: pink;
    --cms-body-margin: 0px 10px 0px 10px;

    /*MENU*/
    --cms-menu-margin : 0px 0px 0px 0px;
    --cms-menu-padding : 0px 70px 0px 30px;
    
}

.cms-html{
    font-family: var(--cms-html-font-family);
}

.cms-body{
    background-color: var(--cms-body-background-color);
    margin : var(--cms-body-margin);
}

.cms-menu{
    --kendo-spacing-2: var(--cms-menu-padding);
    margin : var(--cms-menu-margin);
    padding-block : var(--cms-menu-padding);
}
