.cms-menu-grid {
    display: grid;
    /* Caso unico */
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 50px;
    grid-gap: 0;
    place-content: center;
    /* PARA ALINEAR LOS MARGENES*/
    padding-left: 100px;
    padding-right: 100px;
}

.cms-menu-grid_seccion-menu {
    --grid-fila-inicio: 1;
    --grid-fila-fin: 2;
    --grid-columna-inicio: 1;
    --grid-columna-fin: 8;
    grid-area: var(--grid-fila-inicio) / var(--grid-columna-inicio) / var(--grid-fila-fin) / var(--grid-columna-fin) !important;
}

.cms-menu-grid_seccion-carrito {
    --grid-fila-inicio: 1;
    --grid-fila-fin: 2;
    --grid-columna-inicio: 11;
    --grid-columna-fin: 12;
    grid-area: var(--grid-fila-inicio) / var(--grid-columna-inicio) / var(--grid-fila-fin) / var(--grid-columna-fin) !important;
}